* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  color: #222222;
  background-color: rgb(227, 229, 233);
}

h1 {
  padding: 18px 0 0;
  font-weight: 800;
  font-size: 42px;
  line-height: 42px;
}

h2 {
  padding: 6px 0 18px;
  font-weight: 700;
  font-size: 24px;
}

p {
  padding: 24px 0 12px;
  font-size: 16px;
  line-height: 26px;  
}

li {
  padding-bottom: 6px;
  list-style-position: inside;
}

a {
  color: rgb(0, 31, 255);
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 31, 255, 0.2);
}

a:hover {
  color: #222222;
}

.wrapper {
  max-width: 900px;
  margin: 30px auto 30px auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 9px 24px -12px rgba(0, 0, 0, 0.4);
}

.container {
  padding: 10px 30px 10px 30px;
  background-color: #ffffff;
}

section {
  padding: 27px 24px 27px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-name {
  width: 200px;
  padding: 15px 0 0 0;
  font-size: 21px;
  font-weight: 800;
}

.nav {
  margin: 18px 0 0 0;
}

.nav-item {
  display: inline-block;
  margin-right: 24px;
}

a.nav-link {
  border-bottom: 1px dashed rgba(0, 31, 255, 0.2);
}

section.title {
  padding: 12px 30px 30px 30px;
  margin-bottom: 6px;
  border-radius: 6px;
  background-color: #ffee9b;
  border-bottom: none;
}

section.code-example {
  padding-right: 12px;
}

.cv-avatar-img {
  width: 80px;
  height: 80px;
  margin-top: 18px;
  border-radius: 50%;
}

pre {
  padding: 8px 0 6px 0;
  font-size: 17px;
  font-weight: 700;
  color: rgb(78, 91, 102);
  background: rgb(239, 241, 245);
  border-radius: 6px;  
}

footer > .container {
  padding-top: 12px;
  padding-bottom: 24px;
}

.footer-item {
  margin: 12px 18px 24px 0;
}

img.footer-rss-logo {
  float: right;
  height: 24px;
  width: auto;
}